*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    font-family: inherit;
    font-size: 100%;
    height: 100vh;
}

.header{
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 3rem;
    background-color: #f0f0f0;
    border: 3px solid #eee;
    box-shadow: 0px 2px 5px 3px #ddd;
}

h1 {
    font-size: 5rem;
    padding: 1rem;
    text-shadow: 0px 5px 5px #888;
}

.main {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main > button {
    display: block;
    font-size: 2rem;
    margin: 1rem auto;
}

.grid-generator {
    width: 20rem;
    height: 20rem;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}