*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    font-family: inherit;
    font-size: 100%;
    height: 100vh;
}

.header{
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 3rem;
    background-color: #f0f0f0;
    border: 3px solid #eee;
    box-shadow: 0px 2px 5px 3px #ddd;
}

h1 {
    font-size: 5rem;
    padding: 1rem;
    text-shadow: 0px 5px 5px #888;
}

.main {
    position: relative;
}

.main > button {
    display: block;
    font-size: 2rem;
    margin: 1rem auto;
}

.grid-generator {
    width: 20rem;
    height: 20rem;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

.form-container {
    position: absolute;
    top: 16%;
    left: 32%;
    border: none;
    border-radius: 2.2rem;
    box-shadow: 0 10px 5px #333;
    background-color: #000;
}

dialog::backdrop {
    background-color: #00000080;
}

form {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 8px solid #444;
    border-radius: 2rem;
    height: 30rem;
    width: 40rem;
    padding: 2rem 2rem;
    background-color: #fff;

    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
}

.cancel-button {
    display: flex;
    justify-content: baseline;
}

.cancel-button button {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #444;
    flex: 0 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-button button:hover {
    background-color: #000;
    box-shadow: 0 5px 5px #888;
}

.cancel-button button:active {
    background-color: #444;
    box-shadow: 0 5px 5px #888;
}

form p {
    font-size: 2.5rem;
    font-weight: bold;
}

label {
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 3px;
}

input {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    font-size: 1.3rem;
    height: 3rem;
    width: 30rem;
    padding: .4rem .7rem;
    border: none;
    background-color: #efefef;
    border-radius: 10px;
}

input:focus {
    outline: none;
}

.pOne,
.pTwo {
    padding-top: 1rem;
    padding-left: .5rem;
    justify-self: center;
}

.pOne {
    padding-top: 2rem;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1.5rem;
    padding-right: .5rem;
}

.submit-button button {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    height: 4rem;
    width: 12rem;
    border-radius: 1.3rem;
    border: none;
    cursor: pointer;
}

.submit-button button:hover {
    box-shadow: 0 5px 5px #888;
}

.submit-button button:active {
    box-shadow: 0 5px 5px #888;
    background-color: #D9DADE;
}